<div>
    <div class="userProfile">
        <h2>Bienvenido Flowerier</h2>
        <p>{{user.firstName}} {{user.lastName}}</p>
        <p>{{user.email}}</p>
        <p>Rol {{user.role}}</p>
        <button class="logout">Logout</button>
    </div>
    <h1>Listado de productos</h1>
    <div class="cardsContainer">
        {{#each products.products}}
            <div class="card">
                <img src="{{this.thumbnails.[0]}}" alt="Thumbnail">
                <h2>{{this.title}}</h2>
                <p>{{this.description}}</p>
                <p class="price">$ {{this.price}}</p>
                <p class="stock">Stock: {{this.stock}}</p>
                <p class="category">Categoría: {{this.category}}</p>
                <button class="addToCart" data-id={{this._id}}>Agregar al carrito</button>
            </div>
        {{/each}}
    </div>
    <div>
        {{#if products.hasPrevPage}}
            <a href={{products.prevLink}}>Previous Page</a>
        {{/if}}
        <span>
            Page {{products.page}} of {{products.totalPages}}
        </span>
        {{#if products.hasNextPage}}
            <a href={{products.nextLink}}>Next Page</a>
        {{/if}}
    </div>
</div>
<script src="/files/js/addProductToCart.js"></script>
<script src="/files/js/logout.js"></script>